In [121]:
# Import Dependencies
import pandas as pd
import os

In [122]:
import os, fnmatch
for root, dirs, files in os.walk("resources", topdown=False):
    resourcesVFiles = []
    resourcesRFiles = []
    resourcesTotFiles = []
    for name in files:
        if os.path.join(name).startswith("Volume"):
            resourcesVFiles.append(os.path.join(root, name))
        elif os.path.join(name).rfind("total"):
            resourcesTotFiles.append(os.path.join(root, name))
        else:
            resourcesRFiles.append(os.path.join(root, name))

In [123]:
numfile = len(resourcesVFiles)

In [137]:
for i in range(len(resourcesVFiles)):
    file = resourcesVFiles[i]
    i = i + 1
    variable_name = f"vol_{i}"
#     print(variable_name)
    globals()[variable_name] =  pd.read_csv(file)

In [138]:
if numfile == 3:
    volume_temp = pd.concat([vol_1, vol_2])
    volume = pd.concat([volume_temp, vol_3])
elif numfile == 2: 
    volume = pd.concat([vol_1, vol_2])
else:
    volume == vol_1

In [139]:
volume

,Week,Year,Status,Total Volume,California,Chile,Mexico,Peru,Colombia,Dominican Republic
0,"Jan 5, 2020",2020,Actual,"14,758,724","16,882","72,139","14,647,021",0,"22,679",0
1,"Jan 12, 2020",2020,Actual,"29,622,992","145,088","80,639","29,397,263",0,0,0
2,"Jan 19, 2020",2020,Actual,"34,643,375","727,882","101,039","33,791,772",0,"22,679",0
3,"Jan 26, 2020",2020,Actual,"30,230,597","1,280,256",0,"28,927,660",0,"22,679",0
4,"Feb 2, 2020",2020,Actual,"20,599,873","1,226,734",0,"19,373,138",0,0,0
...,...,...,...,...,...,...,...,...,...,...
47,"Dec 4, 2022",2022,Projection,0,NaN,0,NaN,0,NaN,NaN
48,"Dec 11, 2022",2022,Projection,0,NaN,0,NaN,0,NaN,NaN
49,"Dec 18, 2022",2022,Projection,0,NaN,0,NaN,0,NaN,NaN
50,"Dec 25, 2022",2022,Projection,0,NaN,0,NaN,0,NaN,NaN
51,"Jan 1, 2023",2022,Projection,0,NaN,0,NaN,0,NaN,NaN

In [140]:
volume.fillna(0)

,Week,Year,Status,Total Volume,California,Chile,Mexico,Peru,Colombia,Dominican Republic
0,"Jan 5, 2020",2020,Actual,"14,758,724","16,882","72,139","14,647,021",0,"22,679",0
1,"Jan 12, 2020",2020,Actual,"29,622,992","145,088","80,639","29,397,263",0,0,0
2,"Jan 19, 2020",2020,Actual,"34,643,375","727,882","101,039","33,791,772",0,"22,679",0
3,"Jan 26, 2020",2020,Actual,"30,230,597","1,280,256",0,"28,927,660",0,"22,679",0
4,"Feb 2, 2020",2020,Actual,"20,599,873","1,226,734",0,"19,373,138",0,0,0
...,...,...,...,...,...,...,...,...,...,...
47,"Dec 4, 2022",2022,Projection,0,0,0,0,0,0,0
48,"Dec 11, 2022",2022,Projection,0,0,0,0,0,0,0
49,"Dec 18, 2022",2022,Projection,0,0,0,0,0,0,0
50,"Dec 25, 2022",2022,Projection,0,0,0,0,0,0,0
51,"Jan 1, 2023",2022,Projection,0,0,0,0,0,0,0

In [141]:
for col in volume.columns:
    if not (col == 'Week' or col == 'Status' or col == 'Year'):
        try:
            volume[col] = volume[col].str.replace(",", "").astype(float)
        except AttributeError:
            print(f'skipped {col}')
volume.dtypes

Week                   object
Year                    int64
Status                 object
Total Volume          float64
California            float64
Chile                 float64
Mexico                float64
Peru                  float64
Colombia              float64
Dominican Republic    float64
dtype: object

In [142]:
volume_transformed = volume.fillna(0)

In [143]:
volume_transformed

,Week,Year,Status,Total Volume,California,Chile,Mexico,Peru,Colombia,Dominican Republic
0,"Jan 5, 2020",2020,Actual,14758724.0,16882.0,72139.0,14647021.0,0.0,22679.0,0.0
1,"Jan 12, 2020",2020,Actual,29622992.0,145088.0,80639.0,29397263.0,0.0,0.0,0.0
2,"Jan 19, 2020",2020,Actual,34643375.0,727882.0,101039.0,33791772.0,0.0,22679.0,0.0
3,"Jan 26, 2020",2020,Actual,30230597.0,1280256.0,0.0,28927660.0,0.0,22679.0,0.0
4,"Feb 2, 2020",2020,Actual,20599873.0,1226734.0,0.0,19373138.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...
47,"Dec 4, 2022",2022,Projection,0.0,0.0,0.0,0.0,0.0,0.0,0.0
48,"Dec 11, 2022",2022,Projection,0.0,0.0,0.0,0.0,0.0,0.0,0.0
49,"Dec 18, 2022",2022,Projection,0.0,0.0,0.0,0.0,0.0,0.0,0.0
50,"Dec 25, 2022",2022,Projection,0.0,0.0,0.0,0.0,0.0,0.0,0.0
51,"Jan 1, 2023",2022,Projection,0.0,0.0,0.0,0.0,0.0,0.0,0.0